

.table_container{
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
   
   
}
*{
    box-sizing: border-box;
    
    
}
.table{
    width: 100%;
    border-collapse: collapse;
    /* test */
    /* border: 1px solid blue;
    border-radius: 10px 10px 0 0;  */
}

.table td, .table th{
    padding: 12px 15px;
    border: 2px solid #502121;

    text-align: center;
    font-size:16px ;
    
}
.table th{
    background-color:#4076a8 ; 
    color: #ffffff;

}
.table tbody tr:nth-child(even){
background-color:#e7e4e4 ;
}
@media (max-width:767px) {
    .table thead{
        display: none;
    }
    .table, .table tbody, .table tr, .table td{
        display: block;
        width: 100%;
    }
    .table tr{
        margin-bottom: 15px;
    }
    .table td{
        text-align: left;
        padding-left: 50%;
        position: relative;

    }
    .table td::before{
        content:attr(data-lable);
        position: absolute;
        left: 0;
        width:50% ;
        padding-left: 15px;
        font-size: 15px;
        font-weight:bold ;
        text-align: left;
    }
}
