/* .RestPassword{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:25px 2px 0px 0px ;
} */
@media (min-width:769px) {
    .RestPassword{
        margin-top: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
  
}
@media  (max-width:768px)
{
    .card{
        display: flex;
        flex-direction: column;
        margin: 16px;

    }
}
.error-border1 {
 
    border: 1px solid red;
    border-radius: 10px;
    height: 44px;
    padding: 0 ;
  }

