.Appraisaltable2{
    margin: 10px;
}

.appraisal_table{
    border: 3px solid #1f2937;
    padding: 12px;
    
}

.appraisal_thead{
    background-color: #5AB2FF;
    font-size: 15px;
    color: white;
}

.apprasial_eligible{
    background-color: #9CA3AF;
}

.row_2_manager{
    font-weight: bold;
    background-color: #CAF4FF;
    font-size: 15px;
    color: black;
}

.appraisal_row{
    font-weight: bold;
    font-size: 15px;
}

.row_3_manager{
    background-color: #FFF2D7;
}

.appraisal_row_1 {
    font-weight: bold;
    font-size: 18px;
    color: red;
}

.total_row_manager{
    background-color: #FDE49E;
}

.apprasial_eligible_manager{
    background-color: #CAF4FF;
}