.Edit_depart_header{
    text-align: center;
}
.Edit_depart_btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.Edit_depart_btns1{
    width: 200px;
    margin-top: 10px;
    background-color: #374151;
    color: white;
    font-weight: 600;
}